.team {
  &__title {
    text-align: center;
    font-family: $main-font;
    font-size: 3rem;
    text-transform: uppercase; 
    
    &::after {
      @extend %content;
      width: 6rem;
      border: 0.3rem solid $second-color;
      margin: 4rem auto 6rem auto;
    }
    
    &-it {
      display: block;
      font-family: $font-kausan;
      font-size: 2.4rem;
      text-transform: none;
      color: $font-color-b;
      font-weight: normal;
    }
    
    &-mt {
      margin-top: 2rem;
    }
    
    &-mb {
      margin-bottom: 2.5rem;
    }
  }
  
  &__descr {
    text-align: center;
    font-family: $font-roboto;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: $font-color-light-b;
    
    &-mb {
      margin-bottom: 10rem;
    }
    
    &-p {
      padding: 0 11rem;
    }
  }
  
  &__list {
    display: flex;
    justify-content: space-between;
  }

&__cont {
  position: relative;
  &:hover {
    transform: translate(-1rem, -1rem);
    transition: 0.2s linear;
  }
  &:hover .team__overlay-icon {
    opacity: 1;
  }
  &:hover .team__overlay {
    visibility: visible
  }
  
  &:hover .team__overlay {
    visibility: visible;
    opacity: 0.9;
    box-shadow: 1rem 1rem 0px 0px #95e1d3;
    transition: 0.2s linear;
  }
}

&__img {
  display: block;
  width: 100%;
  height: auto;
  &::before {
    @extend %content;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
  } 
}
&__overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#f38181, #fce38a);
  opacity: .9;
  &-icon {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 23rem;
    justify-content: space-between;
  }
  &-link {
    width: 5.6rem;
    height: 5.6rem;
    background-color: #fce38a;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #f38181;
    }
  }
}
&__last-name {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: $main-font;
  @extend %fz14fw400;
  font-weight: 700;
  color: $font-color-b;
  text-transform: uppercase;
}
&__position {
  font-family: $font-roboto;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 300;
  font-style: italic;
  color: $font-color-light-b;
  text-align: center;
}
}
