

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}
.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.logo-link {
  text-decoration: none;
}
.nav-list {
  display: flex;
}
.list-item {
  margin-right: 57px;
  list-style: none;
}
.list-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
}
