

.team__cont {
  position: relative;
}

.team__img::before {
  content: "";
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #95e1d3;
}

.team__img {
  display: block;
  width: 100%;
  height: auto;
}

.team__overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#f38181, #fce38a);
  opacity: .9;
}

.team__overlay-icon {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 230px;
  justify-content: space-between;
}

.team__cont:hover .team__overlay-icon {
  opacity: 1;
}

.team__overlay-link {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__overlay-link:hover {
  background-color: #95e1d3;
}

.social-fb,
.social-twitter,
.social-pinterest,
.social-instagram {
  background-repeat: no-repeat;
  background-position: center center;
}

.social-fb {
  background-image: url(../../../module-06/img/icon/facebook.png);
}

.social-twitter {
  background-image: url(../../../module-06/img/icon/twitter.png);
}

.social-pinterest {
  background-image: url(../../../module-06/img/icon/pinterest.png);
}

.social-instagram {
  background-image: url(../../../module-06/img/icon/instagram.png);
}

.team-img-cont:hover .team-overlay {
  visibility: visible
}

.team__cont:hover .team__overlay {
  visibility: visible;
  opacity: 0.9;
  box-shadow: 10px 10px 0px 0px #95e1d3;
  transition: 0.2s linear;
}

.team__cont:hover {
  transform: translate(-10px, -10px);
  transition: 0.2s linear;
}

.team__last-name {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.team__position {
  font-family: var(--font-roboto);
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: var(--font-color-light-b);
  text-align: center;
}


.masterhead-wrapper {
  max-width: 1920px;
  height: 1000px;
  margin: auto;
  background: linear-gradient(to top, rgba(252, 227, 138, 0.91), rgba(243, 129, 129, 0.67)), url(../images/main.png) center/cover no-repeat;
}



@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .masterhead-wrapper {
    background: linear-gradient(to top, rgba(252, 227, 138, 0.91), rgba(243, 129, 129, 0.67)), url(../images/main@2x.png) center/cover no-repeat;
  }
}