:root {
  --main-font: 'Montserrat', sans-serif;
  --main-font-color:#95e1d3;
  --font-kausan: 'Kaushan Script', cursive;
  --font-roboto: 'Roboto', sans-serif;
  --font-color-b: #333333;
  --font-color-light-b: #999999;
  --second-color: #f38181;
}