.mastheader-wrapper {
  background: url(../img/main-photo.png) center/cover no-repeat;
}

.masthead {
  padding-top: 2rem;
  padding-bottom: 14rem;
  text-align: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column-reverse;
}

.logo {
  margin-top: 12rem;
  font-family: var(--first-font);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.logo-link {
  color: var(--first-color);
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.nav-item {
  margin-right: 2rem;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-family: var(--first-font);
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--first-color);
}

.header_btn {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 0.2rem solid var(--first-color);
  border-radius: 1.5rem;
  color: var(--first-color);
}

.masthead_hero {
  margin-top: 4rem;
}

.hero_title {
  font-family: var(--first-font);
  font-size: 3rem;
  font-weight: 700;
  color: var(--first-color);
  text-transform: uppercase;
  margin: 0 auto;
}

.hero_title_d {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-family: var(--second-font);
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: none;
  color: var(--first-color);
}

.masthead_hero_btn {
  margin-top: 2rem;
  color: var(--first-color);
  background-color: var(--second-color);
}

.partner {
  text-align: center;
  padding-top: 7.5rem;
  margin-bottom: 5.5em;
}

.partner-title {
  font-family: var(--first-font);
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--third-color);
  margin-bottom: 2rem;
}

.partner-item {
  margin-bottom: 3rem;
}

.partner-cont {
  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
}

.partner-name {
  font-family: var(--first-font);
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--third-color);
  margin-bottom: 2rem;
}

.partner-descr {
  font-family: var(--second-font);
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--fourth-color);
}

.overlay-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.5rem solid var(--first-color);
}

.icon-1 {
  background: url(../img/icon/shape1.png) center center no-repeat;
  background-color: var(--second-color);
}

.icon-2 {
  background: url(../img/icon/Shape2.png) center center no-repeat;
  background-color: var(--fifth-color);
}

.icon-3 {
  background: url(../img/icon/Shape3.png) center center no-repeat;
  background-color: var(--sixth-color);
}

.icon-4 {
  background: url(../img/icon/Shape4.png) center center no-repeat;
  background-color: var(--seventh-color);
}

.partner_btn {
  width: 28rem;
  border: 1px solid var(--second-color);
  border-radius: 1.5rem;
  color: var(--second-color);
}

.btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: var(--first-font);
  font-size: 1.4rem;
  font-weight: 700;
}

.btn-big {
  display: block;
  max-width: 28rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: var(--first-font);
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 1.5rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 66rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .logo {
    margin-top: 0;
  }
  .masthead_hero {
    margin-top: 14rem;
  }
  .hero_title {
    width: 52rem;
    font-size: 5.1rem;
    margin: auto;
  }
  .masthead_hero_btn {
    margin-top: 4rem;
  }
  .btn-big {
    width: 23rem;
  }
  .partner-title {
    margin-bottom: 3.5rem;
  }
  .partner-item {
    margin-bottom: 6rem;
  }
  figcaption {
    width: 23.6rem;
    margin: auto;
  }
  .partner_btn {
    width: 19rem;
  }
}

@media screen and (min-width: 960px) {
  .container {
    max-width: 94rem;
  }
  .partner-item:nth-last-child(-n+2) {
    margin-bottom: 4rem;
  }
  figcaption {
    width: 22em;
    margin: auto;
  }
}